body
  background-color: #efefef
  
.App
  display: flex
  flex-direction: column
  min-height: 100vh
  
.container
  display: flex
  flex-grow: 1
  
main
  padding: 5em 5em 0 5em
  
aside
  display: flex
  flex-direction: column
  border: 5px solid lightgray
  box-shadow: 0px 10px 10px 0px
  background: #e8e8e8
  opacity: .75
  align-items: center
  margin: 5em
  min-width: 25%
  
footer
  height: 275px
  background-image: url("grass1.png");
  
.sun-icon
  margin: auto 0
  
.sun.icon
  font-size: 150px
  color: goldenrod
  margin: 1px solid red
  
  
h1
  font-size: 4em
  margin-bottom: .5em
  
h2
  font-size: 2em
  color: darkred
  
section
  margin-bottom: 2em
  
p
  line-height: 1.5em
  font-size: 1.3em
  
  
.location
  text-align: center
  width: 75%
  margin: 0 0 2em 0
  font-weight: bold
  margin-top: 2em
  
.message
  width: 75%
  margin: 0 0 2em 0
  font-weight: bold
  text-align: left
  
.message h2
  text-align: center
  
.message p
  margin-bottom: 2em
  
.picture {
  width: 90%
  max-width: 400px
  padding: 8px
  background: white
  box-shadow: 1px 1px 5px
}
  
.chicago-cousins {
  transform: rotate(5deg)
}
  
.basil-family {
  transform: rotate(-5deg)
}
  
.louise-children {
  transform: rotate(5deg)
}

.reunion-2016 {
  margin-top: 3em
  max-width: 90%
}

.masthead {
  text-align: center
}

@media (min-width: 2000px) {
  p {
    font-size: 2em
  }
  h2 {
    font-size: 3em
  }
}
 
@media (max-width: 1100px) {
  .container {
    flex-direction: column
  }
  .message {
    width: 65%
  }
}
  
  

  
  