doctype html
head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  meta(name="description" itemprop="description" content="We perform flute and violin music for San Antonio weddings, receptions and events.")
  meta(name="keywords" itemprop="keywords" content="San Antonio Wedding Music, Reception Music, Event Music, Violin Music, Flute Music")
  link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Quintessential' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
  link(href='index.styl' rel='stylesheet' type='text/css')
  title Flute & Violin

body
  //if IE
    p.browserupgrade
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='https://browsehappy.com/') upgrade your browser
      |  to improve your experience and security.
  
  // scripts
  script(src='index.js')
